@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body h1{
    font-family: 'Poppins', sans-serif;
}
body{
    width: auto;
}
#hero-section{
    background-image: url('../img/mbappeFresqueCrop.jpeg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

