.custom-shape-divider-top-1684419065 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1684419065 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 59px;
}

.custom-shape-divider-top-1684419065 .shape-fill {
    fill: #2ECC71;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1684419065 svg {
        width: calc(100% + 1.3px);
        height: 114px;
    }
}